%font-40 {
  font-size: clamp(3rem, 12vw, 4rem);
}

%font-24 {
  font-size: 2.4rem;
}

%font-22 {
  font-size: 2.2rem;
}

%font-20 {
  font-size: 2rem;
}

%font-16 {
  font-size: 1.6rem;
}

%font-14 {
  font-size: 1.4rem;
}
%font-12 {
  font-size: 1.2rem;
}
