.password__button {
  position: absolute;
  right: 16px;

  button {
    @extend %font-12;

    background-color: transparent;
    border: none;
    color: $color-sky-blue;
    cursor: pointer;
    font-weight: 600;
    outline: none;
  }
}
